@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

button[disabled] {
    pointer-events: auto;
    cursor: no-drop;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 1s;
    animation-timing-function:ease-in-out;

  }

  .grayscale:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

